Q1. List any five functions of the pandas library with execution.

In [4]:
#read_csv(): This function is used to read data from a CSV file and create a DataFrame.
import pandas as pd

# Reading a CSV file and creating a DataFrame
data = pd.read_csv('Mall_Customers.csv')
print(data.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
#head(): This function is used to display the first few rows of a DataFrame. By default, it displays the first five rows.
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 30, 22, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

# Displaying the first three rows of the DataFrame
print(df.head(3))

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   22     Paris

In [6]:
#info(): This function provides a summary of the DataFrame, including the column names, data types, and the number of non-null values.
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 30, 22, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

# Providing summary information of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [7]:
#describe(): This function generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles for numerical columns.
# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 30, 22, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

# Generating descriptive statistics of the DataFrame
print(df.describe())

             Age
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

In [8]:
#groupby(): This function is used to group rows of a DataFrame based on one or more columns and perform aggregate operations on the grouped data.
# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Emily', 'Michael'],
        'Age': [25, 30, 22, 28, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

# Grouping the DataFrame by the 'City' column and calculating the average age
grouped = df.groupby('City')
average_age = grouped['Age'].mean()
print(average_age)

City
London      30.0
New York    25.0
Paris       22.0
Sydney      28.0
Tokyo       35.0
Name: Age, dtype: float64

2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [11]:

# Example usage
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
print("Original DataFrame:")
print(df)

reindexed_df = reindex_dataframe(df)
print("\nRe-indexed DataFrame:")
print(reindexed_df)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

Re-indexed DataFrame:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [14]:
def calculate_sum(df):
    sum_values = sum(df['Values'].head(3))
    print("Sum of the first three values:", sum_values)
    
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print("DataFrame:")
print(df)

calculate_sum(df)

DataFrame:
   Values
0      10
1      20
2      30
3      40
4      50
Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

df = pd.DataFrame({'Text': ['Hello world', 'Python is awesome', 'Data analysis']})
print("Original DataFrame:")
print(df)

add_word_count(df)
print("\nDataFrame with Word_Count column:")
print(df)

Original DataFrame:
                Text
0        Hello world
1  Python is awesome
2      Data analysis

DataFrame with Word_Count column:
                Text  Word_Count
0        Hello world           2
1  Python is awesome           3
2      Data analysis           2

5. How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size and DataFrame.shape attributes in Pandas provide different information about the dimensions of a DataFrame.

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame.
It calculates the size by multiplying the number of rows (DataFrame.shape[0]) by the number of columns (DataFrame.shape[1]).
The result is a single integer representing the total number of elements in the DataFrame.
DataFrame.shape:

DataFrame.shape returns a tuple that represents the dimensions of the DataFrame.
The tuple contains two elements: the number of rows and the number of columns, respectively.
The shape of a DataFrame is defined by the number of rows and columns it contains.
Here's an example to illustrate the difference:

In [18]:
# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Using DataFrame.size
print("DataFrame size:", df.size)

# Using DataFrame.shape
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (3, 2)

6. Which function of pandas do we use to read an excel file?

Ans.
In pandas, the function used to read an Excel file is read_excel(). This function allows you to read data from an Excel file and create a DataFrame.

7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [19]:
#To create a new column 'Username' in a Pandas DataFrame, extracting the username part from the 'Email' column, you can use the str.split() method along with string indexing. Here's a Python function that achieves this:
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]

# Example usage
df = pd.DataFrame({'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.johnson@example.com']})
print("Original DataFrame:")
print(df)

extract_username(df)
print("\nDataFrame with Username column:")
print(df)

Original DataFrame:
                     Email
0     john.doe@example.com
1  alice.smith@example.com
2  bob.johnson@example.com

DataFrame with Username column:
                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2  bob.johnson@example.com  bob.johnson

8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [20]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})
print("Original DataFrame:")
print(df)

selected_df = select_rows(df)
print("\nSelected DataFrame:")
print(selected_df)

Original DataFrame:
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

Selected DataFrame:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [22]:
def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print("DataFrame:")
print(df)

mean, median, std = calculate_statistics(df)
print("\nMean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

DataFrame:
   Values
0      10
1      20
2      30
3      40
4      50

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [23]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
# Example usage
df = pd.DataFrame({'Date': pd.date_range(start='2022-01-01', periods=10),
                   'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]})
print("Original DataFrame:")
print(df)

calculate_moving_average(df)
print("\nDataFrame with MovingAverage column:")
print(df)

Original DataFrame:
        Date  Sales
0 2022-01-01     10
1 2022-01-02     15
2 2022-01-03     20
3 2022-01-04     25
4 2022-01-05     30
5 2022-01-06     35
6 2022-01-07     40
7 2022-01-08     45
8 2022-01-09     50
9 2022-01-10     55

DataFrame with MovingAverage column:
        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     15           12.5
2 2022-01-03     20           15.0
3 2022-01-04     25           17.5
4 2022-01-05     30           20.0
5 2022-01-06     35           22.5
6 2022-01-07     40           25.0
7 2022-01-08     45           30.0
8 2022-01-09     50           35.0
9 2022-01-10     55           40.0

11.You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [24]:
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Example usage
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5)})
print("Original DataFrame:")
print(df)

modified_df = add_weekday_column(df)
print("\nDataFrame with Weekday column:")
print(modified_df)

Original DataFrame:
        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

DataFrame with Weekday column:
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [25]:
import pandas as pd

def select_rows_by_date(df):
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df[mask]
    return selected_rows

# Example usage
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=10)})
print("Original DataFrame:")
print(df)

selected_df = select_rows_by_date(df)
print("\nSelected DataFrame:")
print(selected_df)

Original DataFrame:
        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07
7 2023-01-08
8 2023-01-09
9 2023-01-10

Selected DataFrame:
        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07
7 2023-01-08
8 2023-01-09
9 2023-01-10

13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?